---
author: Alexander Naumann
title: Markdown Slides | Overview
description: Overview of slides by Alexander Naumann
design: black 
---


<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
</head>
<body>
	<div class="reveal">
		<div class="slides">
        <section id="overview" data-markdown data-separator="\n---\n">
            <script type="text/template">
# BEGINNER'S SHELL TUTORIAL
by Snehit Sah

<br>

### About Me


Linux evangelist and professional ranter.

Among other things, a regular contributor to [Endeavour OS](https://endeavouros.com/).

<br>

- Follow my code on GitHub - [flyingcakes85](https://github.com/flyingcakes85)
- Connect on LinkedIn - [flyingcakes](https://www.linkedin.com/in/flyingcakes)
- Follow my cozy blog - [Mellow Clamour](https://flyingcakes85.github.io/blog/)
- Shoot me a mail - [snehitsah@pm.me](mailto:snehitsah@pm.me)


<br>

[Slides](/shell-basics-slides/getting_started)

<br>

            </script>
        </section>
			{{ content }}
		</div>
	</div>
	{% include script.html %}
</body>
</html>
